body {
    background-color: #141414;
    margin: 0;
}

.allQuestions {
    color: #e5e5e5;

}

#result {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}